<?xml version="1.0"?>
<launch>

    <!--- Run Jackal Gazebo -->  
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="world_name" default="$(find jackal_elevator)/worlds/modified_elevator.world" />
    <arg name="map_file0" default="$(find multi_floor_nav)/maps/map_level0.yaml"/>
    <arg name="map_file1" default="$(find multi_floor_nav)/maps/map_level1.yaml"/>
    
    <arg name="config" default="navigation" />
    <arg name="front_laser" default="true" />
    <arg name="scan_topic" default="front/scan" />
    <arg name="enable_module_a" default="false" />
    <arg name="init_pose_offset_x" default="0.00" />
    <arg name="init_pose_offset_y" default="0.00" />
    <arg name="init_pose_offset_theta" default="0.00" />
    <arg name="manual_lift_control" default="false" />
    <arg name="use_reference_lift_behavior" default="false" />
    <arg name="smoothing_enabled" default="true" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find jackal_elevator)/launch/jackal_repos_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="front_laser" value="$(arg front_laser)" />
        <arg name="x_pos" value="4.0" />
        <arg name="y_pos" value="-5.0" />
        <arg name="z_pos" value="0.5" />
    </include>

    <!-- Run the map server -->
    <!-- Load level 0 map -->
    <node name="map_server0" pkg="map_server" type="map_server" args="$(arg map_file0)">
        <remap from="map" to="map_level_0"/>
    </node>
    <!-- Load level 1 map -->
    <node name="map_server1" pkg="map_server" type="map_server" args="$(arg map_file1)">
        <remap from="map" to="map_level_1"/>
    </node>

    <!--- Run AMCL -->
    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan" to="$(arg scan_topic)"/>
        <rosparam file="$(find multi_floor_nav)/configs/amcl.yaml" command="load"/>
    </node>

    <!--- Run Move Base with Improved A* global planner -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find jackal_navigation)/params/map_nav_params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find jackal_navigation)/params/map_nav_params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find jackal_navigation)/params/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find jackal_navigation)/params/move_base_params.yaml" command="load" />
        <rosparam file="$(find multi_floor_nav)/configs/improved_astar_params.yaml"
                  command="load" ns="ImprovedAStarPlanner" />
        <param name="ImprovedAStarPlanner/smoothing_enabled" value="$(arg smoothing_enabled)" />
        <param name="base_global_planner" type="string" value="improved_astar/ImprovedAStarPlanner" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
        <remap from="odom" to="odometry/filtered" />
    </node>

    <!--- Run Jackal RViz -->  
    <include file="$(find jackal_viz)/launch/view_robot.launch">
        <arg name="config" value="$(arg config)"/>    
    </include>

    <!-- Run Change Map Node -->
    <node pkg="multi_floor_nav" type="change_map_node" name="change_map_node"/>

    <!-- Run Multi Floor Navigation Node -->
    <node pkg="multi_floor_nav" type="multi_floor_navigation_node" name="multi_floor_navigation_node" output="screen">
        <!-- Module A (SPA-AMCL region init) -->
        <rosparam if="$(arg enable_module_a)" file="$(find multi_floor_nav)/configs/spa_amcl_region_init.yaml" command="load"/>
        <param name="init_pose_offset_x" value="$(arg init_pose_offset_x)" />
        <param name="init_pose_offset_y" value="$(arg init_pose_offset_y)" />
        <param name="init_pose_offset_theta" value="$(arg init_pose_offset_theta)" />
        <param name="manual_lift_control" value="$(arg manual_lift_control)" />
        <param name="use_reference_lift_behavior" value="$(arg use_reference_lift_behavior)" />
        <param name="max_angular_error" value="0.08" />
        <param name="lift_enter_linear_speed" value="0.25" />
        <param name="lift_enter_target_distance" value="3.00" />
        <param name="lift_front_safety_stop_distance" value="0.20" />
        <param name="lift_front_scan_half_angle_rad" value="0.25" />
    </node>

    <!-- Record actual trajectories per floor for RViz visualization -->
    <node pkg="multi_floor_nav" type="trajectory_recorder.py" name="trajectory_recorder" output="screen"/>

</launch>